! ----------------------------------------------------------------------------
!  file:     ~/.Xresources
!  author:   Kyle Berry - http://kyleberry.org
!  modified: Jan 2012
! ----------------------------------------------------------------------------


URxvt*termName: rxvt
URxvt*depth: 32
!URxvt*background: rgba:1111/1111/1111/dddd
URxvt*background: rgba:0000/0000/0000/4444
!Window Colors
URxvt*foreground: White
!URxvt*background: Black
!Scrollbar
URxvt*scrollBar:none
!Fonts
URxvt*font: xft:DejaVu Sans Mono:pixelsize=14:antialias=true:hinting=true
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=14:antialias=true:hinting=true
!Tabs
URxvt.perl-ext-common: default,tabbed,matcher,url-select
!clickable url
URxvt.keysym.M-m:       perl:url-select:select_next
URxvt.urlLauncher:      /usr/bin/chromium
URxvt.matcher.button:   1
URxvt.underlineURLs:    true

URxvt.buffered:  true
URxvt*saveLines:50000

!jump to bottom (prompt) when tty gets new lines
!urxvt*scrollWithBuffer:   true
!jump to bottom (prompt) on tty output
urxvt*scrollTtyOutput:    false

!URxvt.keysym.M-C-1:	perl:/home/k6b/test

