! ----------------------------------------------------------------------------
!  file:     ~/.Xresources
!  author:   Kyle Berry - http://kyleberry.org
!  modified: Jan 2012
! ----------------------------------------------------------------------------


URxvt*termName: rxvt
URxvt.depth: 32
URxvt.background: rgba:1111/1111/1111/dddd
!Window Colors
URxvt*foreground: White
URxvt*background: Black
!Scrollbar
URxvt*scrollBar:none
!Fonts
URxvt*font: xft:DejaVu Sans Mono:pixelsize=14:antialias=true:hinting=true
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=14:antialias=true:hinting=true
!Tabs
URxvt.perl-ext-common: default,tabbed,matcher,clipboard,url-select
!clickable url
URxvt.keysym.M-m:       perl:url-select:select_next
URxvt.urlLauncher:      /usr/bin/chromium
URxvt.matcher.button:   1
URxvt.underlineURLs:    true
